/* Main stylesheet ****************************************************************************************************/

/* Theme colors *******************************************************************************************************/
* {
    -theme-light-green: #33ffad;
    -nav-bar-color: #232347;
    -nav-bar-color-lighter: #323c67;
    -light-gray-border: #d9d9d9;
    -light-gray-text: #808080;
}


.root {
    -fx-background-color: #fafafa;
}

/* Logo area **********************************************************************************************************/
.logo-area {
    -fx-background-color: -nav-bar-color;
}

/* Navigation bar *****************************************************************************************************/
.navigation-bar {
    -fx-background-color: -nav-bar-color;
}

.navigation-bar .label {
    -fx-font-family: Arial Black;
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
}

.navigation-btn:hover {
    -fx-background-color: -nav-bar-color-lighter;
    -fx-border-color: transparent transparent transparent -theme-light-green;
    -fx-border-width: 5px;
}

.navigation-btn:selected {
    -fx-background-color: -nav-bar-color-lighter;
    -fx-border-color: transparent transparent transparent -theme-light-green;
    -fx-border-width: 5px;
}

/* Top menu bar *******************************************************************************************************/
.menu-bar {
    -fx-background-color: inherit;
    -fx-border-color: -light-gray-border;
}

.menu-bar .label {
    -fx-font-family: Arial Black;
    -fx-font-size: 20px;
    -fx-text-fill: -light-gray-text;
}

/* Right option bar ***************************************************************************************************/
.right-bar {
    -fx-background-color: #ffffff;
    //-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 60, .3, 0, 0);
    -fx-padding: 15px;
}

.list-view:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.list-view .label {
    -fx-text-fill: -light-gray-text;
    -fx-font-size: 15px;
}

.list-view .list-cell:even {
    -fx-background-color: #ffffff;
    -fx-text-fill: #808080;
}

.list-view .list-cell:odd {
    -fx-background-color: #ffffff;
    -fx-text-fill: #808080;
}

.list-view .list-cell:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent transparent -theme-light-green;
    -fx-border-width: 5px;
    -fx-text-fill: black;
}

/* Book card **********************************************************************************************************/
.book-card {
    -fx-background-color: #ffffff;
    -fx-background-radius: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 60, .3, 0, 0);
}

.book-card:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.book-card-title {
    -fx-font-family: Arial Black;
    -fx-font-size: 20px;
}

.book-card-top {
    -fx-background-color: -theme-light-green;
    -fx-background-radius: 2 2 0 0;
}

.book-card-title {
}

.add-book {
    -fx-border-color: -light-gray-border;
    -fx-border-style: dashed;
    -fx-border-width: 2px;
}

.add-book-message{
    -fx-font-family: Arial Black;
    -fx-font-size: 20px;
    -fx-text-fill: -light-gray-text;
}

.progress-bar {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}

.progress-bar .track {
    -fx-background-color: #ffffff;
    -fx-border-color: #e6e6e6;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-insets: 0px
}

.progress-bar .bar {
    -fx-accent: #4d88ff;
    -fx-background-radius: 10px 0px 0px 10px;
    -fx-background-insets: 0px
}
/* Miscellaneous ******************************************************************************************************/
.search-bar {
    -fx-background-radius: 20px;
}

.side-bar-label {
    -fx-text-fill: -light-gray-text;
    -fx-font-family: Arial Black;
    -fx-font-size: 20px;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.title-medium {
    -fx-text-fill: -light-gray-text;
    -fx-font-family: Arial Black;
    -fx-font-size: 30px;
    -fx-padding: 20px 20px 0 20px;
}

.button {
    -fx-background-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-color: -theme-light-green;
    -fx-font-family: Arial Black;
    -fx-text-fill: -theme-light-green;
}

.lemma-suggestion {
    -fx-background-color: #ffffff;
    -fx-background-radius: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, .3, 0, 0);
}

.lemma-suggestion .top {
    -fx-background-color: #00e6ac;
}

.lemma-suggestion .tag {
    -fx-background-color: #99ccff;
    -fx-background-radius: 10px;
    -fx-padding: 1px 10px 1px 10px;
}

.lemma-view {
    -fx-border-color: #b3b3b3;
    -fx-border-radius: 5px;
}

.lemma-view .top {
    -fx-background-color: #bb99ff;
}

.lemma-view .textfield {
    -fx-background-color: #ffffff; -fx-background-radius: 0px;
}

.lemma-view .combobox {
    -fx-background-color: #b3b3b3; -fx-background-radius: 20px;
}

.lemma-view .button {
    -fx-background-color: #b3b3b3;
    -fx-background-radius: 20px;
    -fx-text-fill: #000000;
    -fx-border-color: transparent;
}

.lemma-view .scroll-pane {
    -fx-background-color: #ffffff;
}

.suggestion-list {
    -fx-background-color: #ffffff; -fx-border-color: #b3b3b3; -fx-border-radius: 5px;
}